<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<title>주소링크 SDK Node - Express Example.</title>
  </head>

	<body>

		<div id="content">

			<p class="heading1">주소검색 API SDK Node - Express Example.</p>

			<br/>

			<fieldset class="fieldset1">
				<legend>주소링크 기본 API</legend>

				<fieldset class="fieldset2">
					<legend>회원사 정보</legend>
					<ul>
						<li><a href="getUnitCost">getUnitCost</a> - 주소검색 단가 확인</li>
						<li><a href="getBalance">getBalance</a> - 잔여포인트 확인</li>
					</ul>
				</fieldset>

			</fieldset>

			<br />

			<fieldset class="fieldset1">
				<legend>주소검색 관련</legend>

				<fieldset class="fieldset2">
					<legend>주소검색 예제</legend>
					<ul>
						<li><a href="search">search</a> - 주소검색 </li>
					</ul>
				</fieldset>


			</fieldset>
		 </div>
	</body>
</html>