body { color: #000000; background-color: white; font-family: Verdana; margin: 0px; overflow-x:hidden}
p {color: #000000; margin-top: 0px; margin-bottom: 12px; font-family: Verdana; display: block}
fieldset { margin:0 auto; padding:0; border:1px solid #D5DFE5;width:100%;}
ul { margin:0 0 0 20px; padding:10px; }
li { margin:0; padding:0 0 7px 0; font-size: 12px; color: #333333; width:1950px;}
table { table-layout :fixed; border-collapse:collapse; word-break:break-all; border-spacing:0; }
th {font-weight: bold;}
td,th {	display:table-cell;	vertical-align:inherit;}
.body_width {width:450px;}
#content { font-size: 12px; padding: 0 15px 0 15px; width:100%; }
#content_result { font-size: 12px; padding: 0 15px 0 15px; width:100%; }
#content_juso { font-size: 12px; padding: 0 15px 0 15px; width:100%; }
#content_detail { font-size: 12px; padding: 0 15px 0 15px; width:100%; }

.heading1 { color: #ffffff; font-family: Tahoma; font-size: 24px; background-color: #009100; margin: 0 -15px 0 -15px; padding: 10px 15px 7px 15px; width: 100%; }
.fieldset1 { padding:0 10px 0 10px; }
.fieldset2 { margin-top:10px; margin-bottom:10px; }
.fieldset3 { margin:10px;}
.fieldset4 { margin:10px; width:550px}
.fieldset5 { padding:0 10px 0 10px; width:435px}
.fieldset6 { margin-top:5px; width:450px; padding: 5px 0 7px 5px}
.fieldset6 p {margin: 0 0 0 10px; padding: 5px 0 0 5px}

.fieldset1 legend{ font-weight:bold; }
.fieldset2 legend{ margin-left:10px; font-weight:normal; }
.fieldset3 legend{ margin-left:10px; font-weight:normal; }
.fieldset4 legend{ margin-left:10px; font-weight:normal; }

.old { color: #888888; font-size:12px; }
.arr { color: #FF1100; font-size:12px; font-family:dotum; margin-left: 5px; margin-right: 3px; }
.new { color: #FF1100; font-size:12px; }

.left {float:left;}

a:link { color: #336699; font-weight: bold; font-size:12px; text-decoration: underline; }
a:visited { color: #6699cc; font-weight: bold; font-size:12px; text-decoration: underline; }
a:active { color: #336699; font-weight: bold; font-size:12px; text-decoration: underline; }
a:hover { color: #336699; font-weight: bold; font-size:12px; text-decoration: underline; }

.txtZipcode {margin: 10px 10px 10px 10px; width: 150px; padding: 5px 5px 5px 5px}
.txtIndex {margin: 10px 10px 10px 10px; width: 300px; padding: 5px 5px 5px 5px}
.txtAddr {margin: 0 10px 5px 10px; width: 500px; padding: 5px 5px 5px 5px}
.hand { cursor: pointer; }
.find_btn {	float: left; line-height: 26px; width: 78px; height: 31px; margin: 10px 0 10px 3px; padding: 0 0 0 0; text-align:center; font-size:12px; font-weight:bold; color:#fff; background: url("../images/example_btn_01.gif") no-repeat left top; }

.imgAlign{ vertical-align:top; margin-top : 0px;}
.zipcode{ color: #d73246 }

.select_box {padding:0 10px 0 10px; width:435px}
.select_box ul{	padding: 0 0 0 7px;	margin: 0 0 0 0;}
.select_box ul li{	padding: 5px 0 5px 7px;	background: url("../images/juso_icon_05.gif") left 8px no-repeat; list-style-type:none;}

.roadAddr_img {	padding: 8px 40px 5px 52px !important;	background: url("../images/juso_icon_01.gif") 6px 8px no-repeat;	list-style-type:none ;}
.jibunAddr_img {	padding: 8px 40px 5px 7px;	background: url("../images/juso_icon_02.gif")	left 8px no-repeat;	list-style-type:none;}

.prevPage {	padding: 9px 3px 7px 20px !important; width : 16px; height : 17px;	background: url("../images/juso_btn_prev.png") 6px 8px no-repeat;	list-style-type:none ;}
.nextPage {	padding: 9px 14px 7px 20px !important;	width : 16px; height : 17px; background: url("../images/juso_btn_next.png") 6px 8px no-repeat;	list-style-type:none ;}

.select_box table { width:430px; margin: 7px 0 0 0; font-size:12px; border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; background-color: #fff; color: #333;}
.select_box .road_type{ margin:17px 0 0 0; }
.select_box .jibun_type{ margin:17px 0 0 0; }
.select_box .on {width:300px; padding: 0 0 2px 0;}
.select_box table tbody tr th { border-right:1px solid #dbdbdb;}
.select_box table tbody tr.code th {padding: 7px 10px 7px 10px;}
.select_box table tbody tr.addr th {padding: 7px 10px 7px 10px;}
.select_box table tbody tr.addr_detail th {padding: 7px 10px 7px 10px;}
.select_box table tbody tr.code td {padding: 0px 10px 0 10px; font-size:12px;}
.select_box table tbody tr.addr td {padding: 0px 10px 0 10px; font-size:12px;}
.select_box table tbody tr.addr_detail td {padding: 0px 10px 0 10px; font-size:12px;}
.select_box label { padding: 0 0 5px 0; font-size:14px; font-weight:bold;}

.btn_list { display :inline-block; text-align:center; width:100%; margin:25px 0 28px 0;}
.btn_list .btn_ok{ display:inline-block; width:63px; height:23px; padding:3px 0 0 0; font-size:12px; font-weight: bold; background:url("../images/juso_btn_yes.gif") left top no-repeat; color:#fff;}
.btn_list .btn_reset{ display:inline-block; width:63px; height:23px; padding:3px 0 0 0; font-size:12px; font-weight: bold; background:url("../images/juso_btn_no.gif") left top no-repeat; color:#fff;}

.page_num { float:left; width: 100%; margin: 13px 0 0 0; text-align:center; height:45px;}
.page_num span.current {font-size:14px; margin: 0 0 0 15px;}
.page_num span.end {font-size:14px; margin: 0 5px 0 0;}

.result_box {display:block;}
p.example { display: inline-block; margin: 0 0 10px 13px;text-align: center;}
.suggest {color: #004eff; text-decoration:underline;}